package controllers

import (
	"{{ .ProjectName }}/config"
	"{{ .ProjectName }}/utils"

	"github.com/gofiber/fiber/v2"
)

type HealthController struct{}

// Health godoc
// @Summary Check the health of the service
// @Description Check the health of the service
// @Tags health
// @Produce  json
// @Success 200 {object} string
// @Router /health [get]
func (repo *HealthController) Health(c *fiber.Ctx) error {
	response := fiber.Map{
		"status":      "I am breathing!",
		"environment": config.CFG.V.GetString("APP_ENV"),
	}
	return utils.SuccessResponseData(c, response)
}
