package routers

import (
	"github.com/gofiber/fiber/v2"
	"github.com/gofiber/fiber/v2/middleware/cors"
	"github.com/gofiber/fiber/v2/middleware/logger"
	"github.com/gofiber/swagger"
	_ "{{ .ProjectName }}/docs"
)

// @title Project API Documentation
// @version 1.0

// @host localhost:8080
// @BasePath /v1
func NewRouter() *fiber.App {
	app := fiber.New()

	// CORS configuration
	app.Use(cors.New(cors.Config{
		AllowOrigins: "*",
		// AllowHeaders: "Origin, Content-Length, Content-Type, Authorization",
	}))

	app.Use(logger.New())

	HealthRoute(app)

	v1 := app.Group("/v1")
	{
		userGroup := v1.Group("/user")
		{
			UserRoutes(userGroup)
		}
	}

	app.Get("/swagger/*", swagger.New(swagger.Config{}))

	return app
}
