package utils

import (
	"github.com/labstack/echo/v4"
	"net/http"
)

// Error Response
func ErrorResponse(ctx echo.Context, message string, reason error) error {
	response := map[string]interface{}{
		"status":  "error",
		"message": message,
	}

	if reason != nil {
		response["reason"] = reason.Error()
	}

	return ctx.JSON(http.StatusBadRequest, response)
}

// Success Response
func SuccessResponse(ctx echo.Context, message string, data interface{}, total *int64) error {
	response := map[string]interface{}{
		"status":  "success",
		"message": message,
	}
	if data != nil {
		response["data"] = data
	}

	if total != nil {
		response["total"] = total
	}
	return ctx.JSON(http.StatusOK, response)
}

// Failed Response
func FailedResponse(ctx echo.Context, message string, reason error) error {
	response := map[string]interface{}{
		"status":  "failed",
		"message": message,
	}

	if reason != nil {
		response["reason"] = reason.Error()
	}

	return ctx.JSON(http.StatusBadRequest, response)
}

// NotFound Response
func NotFoundResponse(ctx echo.Context, message string, reason error) error {
	response := map[string]interface{}{
		"status":  "not found",
		"message": message,
	}

	if reason != nil {
		response["reason"] = reason.Error()
	}
	return ctx.JSON(http.StatusNotFound, response)
}

// Unauthorized Response
func UnauthorizedResponse(ctx echo.Context, message string, reason error) error {

	response := map[string]interface{}{
		"status":  "unauthorized",
		"message": message,
	}

	if reason != nil {
		response["reason"] = reason.Error()
	}

	return ctx.JSON(http.StatusUnauthorized, response)
}

// Forbidden Response
func ForbiddenResponse(ctx echo.Context, message string, reason error) error {
	response := map[string]interface{}{
		"status":  "forbidden",
		"message": message,
	}

	if reason != nil {
		response["reason"] = reason.Error()
	}

	return ctx.JSON(http.StatusForbidden, response)
}
