package routers

import (
	"github.com/labstack/echo/v4"
	"github.com/labstack/echo/v4/middleware"
)


func NewRouter() *echo.Echo {
	router := echo.New()
	router.Use(middleware.Logger())
	router.Use(middleware.CORS())
	// router.Use(middleware.CORSWithConfig(middleware.CORSConfig{
	// 	AllowOrigins: []string{"https://labstack.com", "https://labstack.net"},
	// 	AllowHeaders: []string{echo.HeaderOrigin, echo.HeaderContentType, echo.HeaderAccept},
	// }))
	// change the origins above to your designated origins
	router.Use(middleware.Recover())

	Health(router)

	v1 := router.Group("/v1")
	{
		userGroup := v1.Group("/user")
		{
			UserRoutes(userGroup)
		}
	}

	return router
}
