package controllers

import (
	"github.com/labstack/echo/v4"
	"github.com/pkg/errors"
	"{{ .ProjectName }}/database"
	"{{ .ProjectName }}/models"
	"{{ .ProjectName }}/utils"
)

type UserRepo struct{}

// CreateUser godoc
// @Summary Create a new user
// @Description Create a new user
// @Tags user
// @Accept  json
// @Produce  json
// @Param user body models.GoEasyCLITestUser true "User object"
// @Success 200 {object} models.GoEasyCLITestUser
// @Router /v1/user/add [post]
func (repo *UserRepo) CreateUser(ctx echo.Context) error {
	var user models.GoEasyCLITestUser

	if err := ctx.Bind(&user); err != nil {
		utils.FailedResponse(ctx, "Failed to bind user data", err)
		return err
	}

	if err := models.CreateUser(ctx.Request().Context(), database.Db, &user); err != nil {
		utils.ErrorResponse(ctx, "Failed to create user", err)
		return err
	}

	utils.SuccessResponse(ctx, "User created successfully", user, nil)
	return nil
}

// GetAllUsers godoc
// @Summary Get all users
// @Description Get all users
// @Tags user
// @Produce  json
// @Success 200 {object} []models.GoEasyCLITestUser
// @Router /v1/user/list [get]
func (repo *UserRepo) GetAllUsers(ctx echo.Context) error {
	users, err := models.GetAllUsers(ctx.Request().Context(), database.Db)
	if err != nil {
		utils.ErrorResponse(ctx, "Failed to get users", err)
		return err
	}

	utils.SuccessResponse(ctx, "Users fetched successfully", users, nil)
	return nil
}

// GetUserByID godoc
// @Summary Get user by ID
// @Description Get user by ID
// @Tags user
// @Produce  json
// @Param id path string true "User ID"
// @Success 200 {object} models.GoEasyCLITestUser
// @Router /v1/user/{id} [get]
func (repo *UserRepo) GetUserByID(ctx echo.Context) error {
	user, err := models.GetUserByID(ctx.Request().Context(), database.Db, ctx.Param("id"))
	if err != nil {
		utils.ErrorResponse(ctx, "User not found", err)
		return err
	}

	utils.SuccessResponse(ctx, "User retrieved successfully", user, nil)
	return nil
}

// UpdateUser godoc
// @Summary Update user
// @Description Update user
// @Tags user
// @Accept  json
// @Produce  json
// @Param user body models.GoEasyCLITestUser true "User object"
// @Success 200 {object} models.GoEasyCLITestUser
// @Router /v1/user/update [patch]
func (repo *UserRepo) UpdateUser(ctx echo.Context) error {
	var user models.GoEasyCLITestUser

	if err := ctx.Bind(&user); err != nil {
		utils.FailedResponse(ctx, "Invalid request", err)
		return err
	}

	if user.ID == 0 {
		utils.FailedResponse(ctx, "Invalid user ID", nil)
		return errors.Errorf("Invalid user ID")
	}

	if err := models.UpdateUser(ctx.Request().Context(), database.Db, &user); err != nil {
		utils.ErrorResponse(ctx, "Failed to update user", err)
		return err
	}

	utils.SuccessResponse(ctx, "User updated successfully", user, nil)
	return nil
}

// DeleteUser godoc
// @Summary Delete user
// @Description Delete user
// @Tags user
// @Param id path string true "User ID"
// @Success 200 {string} string	"User deleted successfully"
// @Router /v1/user/delete/{id} [delete]
func (repo *UserRepo) DeleteUser(ctx echo.Context) error {
	err := models.DeleteUser(ctx.Request().Context(), database.Db, ctx.Param("id"))
	if err != nil {
		utils.ErrorResponse(ctx, "Failed to delete user", err)
		return err
	}

	utils.SuccessResponse(ctx, "User deleted successfully", nil, nil)
	return nil
}
