package controllers

import (
	"errors"
    "strings"
    "net/http"
    "gorm.io/gorm"
	"github.com/labstack/echo/v4"
	"{{ .ProjectName }}/database"
	"{{ .ProjectName }}/models"
	"{{ .ProjectName }}/utils"
)

type UserRepo struct{}


func (repo *UserRepo) CreateUser(ctx echo.Context) error {
	var user models.GoEasyCLITestUser

	if err := ctx.Bind(&user); err != nil {
		return utils.FailedResponse(ctx, "Failed to bind user data", err)

	}

	if err := models.CreateUser(ctx.Request().Context(), database.Db, &user); err != nil {
		if errors.Is(err, gorm.ErrDuplicatedKey) || strings.Contains(err.Error(), "UNIQUE constraint failed") {
			return ctx.JSON(http.StatusConflict, map[string]string{"error": "Email already exists"})
		}
		return utils.ErrorResponse(ctx, "Failed to create user", err)

	}

	return utils.SuccessResponse(ctx, "User created successfully", user, nil)

}

func (repo *UserRepo) GetAllUsers(ctx echo.Context) error {
	users, err := models.GetAllUsers(ctx.Request().Context(), database.Db)
	if err != nil {
		return utils.ErrorResponse(ctx, "Failed to get users", err)
	}

	return utils.SuccessResponse(ctx, "Users fetched successfully", users, nil)

}

func (repo *UserRepo) GetUserByID(ctx echo.Context) error {
	user, err := models.GetUserByID(ctx.Request().Context(), database.Db, ctx.Param("id"))
	if err != nil {
		return utils.ErrorResponse(ctx, "User not found", err)

	}

	return utils.SuccessResponse(ctx, "User retrieved successfully", user, nil)

}

func (repo *UserRepo) UpdateUser(ctx echo.Context) error {
	var user models.GoEasyCLITestUser

	if err := ctx.Bind(&user); err != nil {
		utils.FailedResponse(ctx, "Invalid request", err)
		return err
	}

	if user.ID == 0 {
		return utils.FailedResponse(ctx, "Invalid user ID", nil)
	}

	if err := models.UpdateUser(ctx.Request().Context(), database.Db, &user); err != nil {
		if err.Error() == "user not found" {
			return ctx.JSON(http.StatusNotFound, map[string]string{"error": "User not found"})
		}
		return utils.ErrorResponse(ctx, "Failed to update user", err)
	}

	return utils.SuccessResponse(ctx, "User updated successfully", user, nil)
}

func (repo *UserRepo) DeleteUser(ctx echo.Context) error {
	err := models.DeleteUser(ctx.Request().Context(), database.Db, ctx.Param("id"))
	if err != nil {
		return utils.ErrorResponse(ctx, "Failed to delete user", err)

	}

	return utils.SuccessResponse(ctx, "User deleted successfully", nil, nil)

}
